<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">   
 <div class="col-9">
   <h4 style="color:rgb(210,120,130);margin-bottom:4px;">
     {{chain['Model Name']}}</h4>
   <img class ="img-fluid" src="/static/karugamani.jpeg.jpg/"alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
   <div><b>SIZE:</b> {{chain['Model Size']}}</div>
    <div><b>COST:</b> {{chain['Cost']}}</div>
   </div>
  <div class="col-3">
    <a href="mailto:mohammedimmu8596@gmail.com?subject=I%20WANT%20{{chain['Model Name']}}&body=Enter%20Your%20Name%3A%0D%0AProduct%20Name%20%3A%0D%0Ahow%20many%20pieces%20u%20want%20%3A%0D%0APhoneNo%3A%0D%0AAddress%3A"type="button" class="btn btn-outline-primary">Buy Now</a>
  </div>
   
</div>